
body{
    margin: 0;
    
}

.MuiInputLabel-root{
    color: white !important;
}
.MuiFilledInput-root::before{
    border-bottom: 1px solid white !important;
}
.MuiFilledInput-root::after{
    border-bottom: 2px solid white !important;
}

.titulo{
    text-align: center;
    color: white;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin: 0;
}

.nombre{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-align: center;
    color: white;
    margin: 0;
}
.footer{
    background-color: #1976d2;
    padding: 1rem;
}
